html,
body,
#root,
.app,
.flex {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

header {
  background-color: #222;
  height: 40px;
  padding: 10px;
  color: white;
}

header > h1 {
  font-size: 1.5em;
}

.flex {
  display: flex;
}

#list {
  width: 15%;
  padding: 30px 10px;
  text-align: left;
  border-right: 2px black solid;
}

li {
  text-decoration: none;
  cursor: pointer;
}

li:hover {
  text-decoration: underline
}

#map {
  height: 100%;
  width: 85%;
}

.info-name {
  font-weight: bold;
  padding-bottom: 10px;
}

.info {
  padding-bottom: 10px;
}

.info-phone, .info-rating {
  font-weight: bold;
}

.info-footer {
  color: gray;
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .flex {
    display: block;
  }

  #list {
    width: 100%;
    padding: 5px 50px;
    text-align: left;
    border-bottom: 2px black solid;
  }

  #map {
    width: 100%;
  }

  .info {
    max-width: 75%;
  }
}
